@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627290265814') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kanzhanlan:before {
  content: "\f009e";
}

.icon-02:before {
  content: "\e605";
}

.icon-31pinpai:before {
  content: "\e614";
}

.icon-weixin:before {
  content: "\e64f";
}

.icon-guanyuwomen:before {
  content: "\e606";
}

.icon-user:before {
  content: "\e507";
}

.icon-chaxun:before {
  content: "\e609";
}

.icon-yonghu:before {
  content: "\e6e5";
}

.icon-shuoming:before {
  content: "\e607";
}

.icon-huodong:before {
  content: "\e549";
}

.icon-wailian:before {
  content: "\e6f1";
}

.icon-quxiaozhiding:before {
  content: "\e666";
}

.icon-add-sy:before {
  content: "\e501";
}

.icon-mima:before {
  content: "\e678";
}

.icon-fabu:before {
  content: "\e637";
}

.icon-zhiding:before {
  content: "\e60c";
}

.icon-bianji:before {
  content: "\e6c1";
}

.icon-xiantiao-shouye:before {
  content: "\ed1b";
}

.icon-mima1:before {
  content: "\e664";
}

.icon-daifabu:before {
  content: "\e6a7";
}

.icon-shanchu:before {
  content: "\e610";
}

.icon-huiyuan_:before {
  content: "\e505";
}

