<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-router</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
        <div id="app">
            <div class="header">
                <router-link to="/home/">首页</router-link>
                <router-link :to="{ name: 'business', params: { name: 'te',num:222 }}">时尚购物te</router-link><!-- 命名路由使用-->
                <router-link to="/business/fo/post/123">时尚购物fo</router-link><!-- 带参(fo,123)路径-->
                <router-link to="/404">空页面</router-link>
            </div>
            <div class="content">
                <router-view ></router-view>
                <router-view name="a"></router-view> <!-- 命名视图 -->
            </div>                
        </div>
        <script>            
                const homeNav = {template:'<div>首页导航</div>'}
                const homeCon = {template:'<div>首页主内容</div>'}
                const business = {template:'<div>{{$route.params.name + ":" + $route.params.num}}</div>'} //读参数  $route.params
                const n404 = {template:'<div>页面404</div>'}
                const routes = [
                    {
                        path:"/home/",
                        components:{    //多视图带上 s
                            default:homeNav,    //默认视图
                            a:homeCon       //命名视图
                        }
                    },
                    {
                        path:"/business/:name/post/:num",//加参数
                        name:"business", //命名路由
                        component:business
                    },
                    { path: '*', component: n404 }  //页面404
                ]

                const router = new VueRouter({  //router 实例，然后传 `routes` 配置(还可以传入其他配置)
                    routes
                })
                //router.push({ name: 'business', params: { name: 'te',num:222 }})  //跳转路径
                //router.go(-1);    //返回路径
                
                const app = new Vue({  //创建和挂载根实例
                    router  //通过 router 配置参数注入路由
                }).$mount("#app")
        </script>
</body>
</html>